@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .square {
    @apply float-left border-none h-24 w-24 m-1
    text-6xl bg-purple-600 text-white transition-all shadow
  }
  .board-row:first-of-type .square:first-child {
    @apply rounded-tl-xl
  }
  .board-row:first-of-type .square:last-child {
    @apply rounded-tr-xl
  }
  .board-row:last-of-type .square:first-child {
    @apply rounded-bl-xl
  }
  .board-row:last-of-type .square:last-child {
    @apply rounded-br-xl
  }
}

body {
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3a86ff;
  min-height: 100vh;
  margin: 0px;
}

ol, ul {
  padding-left: 30px;
}

.container {
  background: #fff;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

@media screen and (min-width: 992px) {
  .game {
    flex-direction: row;
  }
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-info {
  margin-left: 20px;
}
ol {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

}

li button {
    background-color: #4895ef;
    border: none;
    width: 50px;
    height: 50px;
    font-weight: 700;
    color: white;
    font-size: large;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.158);

}

h1 {
  font-size: 50px;
  font-weight: 400
}
